body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0;
	width: 100%;
	font-size: 12px;
}

#bodyWrapper {
	
	width: 1350px;
}

h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", sans-serif;
	font-size: 23px;
	font-weight: normal;
	color: #464646;
	display: block;
}

h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #464646;
	display: block;
	margin-bottom: 8px;
	margin-top: 10px;
}

h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #464646;
	display: block;
	margin-bottom: 8px;
	margin-top: 30px;
}

p {
	margin: 20px 0px;
	line-height: 14px;
}

fieldset {
	border: none;
	margin: 0px 0px 5px;
	padding: 10px;
}

legend {
	margin-left: 0px;
	padding: 0px;
	font-size: 14px;
	left: -10px;
	position: relative;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", sans-serif;
}

input {
	border: 1px solid #333;
}

input.buttonwhite {
	background-color: #CCC;
}

input.form-error-field {
	background-color: #FFFF99;
	color: #FF3300;
}

div#mainbody {
	width: 1100px;
}

div#title, div#invoiceTitle {
	height: 36px;
	margin: 10px 0px 15px;
}

span.errorblock, .errorblock {
	border: 1px solid #DD3C10;
	background-color:#FFEBE8;
	color:#333333;
	padding: 5px 10px;
	margin-bottom: 10px;
	display: block;
}
.messageblock {
	border: 1px solid #249C0A;
	background-color:#B5EAAA;
	color:#333333;
	padding: 5px;
	margin-bottom: 10px;
	display: block;
}

.warningblock {
	
	border: 1px solid #249C0A;
	background-color:#FFEBE8;
	color:#333333;
	padding: 5px;
	margin-bottom: 10px;
	display: block;
}
.auto-hint { color: #AAAAAA; }
.loading { background: url('/images/loading.gif') center no-repeat !important}
.listing {
	font-size: 13px;
}

.listing th {
	padding: 5px 8px;
	background-color: #F8F7F6;
	color: #654B24;
	border: 1px solid #CBC7BD;
	font-size: 13px;
}

.listing td {
	padding: 4px 8px;
	border: 1px solid #CBC7BD;
	font-size: 13px;
}

.bluebtn {
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	border: none;
	background-color: #298CBA;
	color: #FFF;
	cursor: pointer;
	text-shadow: #666 0px -1px 0px;
	padding: 3px 8px;
	font-size: 12px;
	text-decoration: none;
}
.blinking-star{
	color: red;
}
.orangebtn {
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	border: none;
	background-color: orange;
	color: #FFF;
	cursor: pointer;
	text-shadow: #666 0px -1px 0px;
	padding: 3px 8px;
	font-size: 12px;
	text-decoration: none;
}

#menu {
	height: 30px;
	margin-bottom: 5px;
	font-size: 15px;
}

#menu ul {
	list-style: none;
	padding-left: 0px;
}

#menu ul li {
	float: left;
	border-left: 1px solid #FFF;
	border-right: 1px solid #555;
	padding: 5px 10px;
	background-color: #A6D500;
	color: #FFFFFF;
}

#menu ul li a {
	color: #FFF;
	text-decoration: none;
}

#menu ul li a:hover {
	color: #555;
	text-decoration: none;
}

#navi {
	margin-bottom: 20px;
}

ul.list-menu {
	font-size: 14px;
	padding-left: 15px;
}

.list-menu li {
	padding-bottom: 5px;
}

.formul,form ul {
	list-style: none;
	padding: 0px;
	font-size: 14px;
	color: #444;
}
.formul li,form ul li{
	padding: 0px;
	clear: both;
}

form label {
	font-weight: bold;
	width: 235px;
	display: block;
	float: left;
	height: 25px;
}

form ul li span {
	clear: both;
}

.note {
	margin-top: 0px;
	display: block;
	width: 600px;
	float: left;
	"
}

input.button {
	color: #FFF;
	background-color: #A6D500;
	border: 1px solid #BBB;
}

.loading {
	background-image: url('../images/ajax-loader.gif');
}


.home-block{
	/**float:left;**/
	border: 1px solid #999;
	margin-right: 20px;
	margin-bottom: 20px;	
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.home-block > div:first-child{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", sans-serif;
	font-size: 16px;
	color: #1C94C4;	
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #EEE;
	padding: 8px;
	margin-bottom: 10px;
}
.home-block > div{
	padding: 8px;
}

/** MODAL **/
/* Overlay */
#simplemodal-overlay {
	background-color: #000;
	cursor: wait;
}

.list {
	border-collapse: collapse;
}

.list thead th {
	padding: 4px;
	background-color: #A6D500;
	color: #FFF;
	text-align: left;
	border: 1px solid #666;
}

.list tbody td {
	padding: 1px 4px;
	border: 1px solid #666;
}

/* Container */
#simplemodal-container {
	height: 230px;
	width: 700px;
	color: #bbb;
	background-color: #333;
	border: 1px solid #AAA;
	padding: 0px;
	top: 110px;
}

#simplemodal-container .simplemodal-data {
	padding: 8px;
}

#simplemodal-container code {
	background: #141414;
	border-left: 3px solid #65B43D;
	color: #bbb;
	display: block;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 4px 6px 6px;
}

#simplemodal-container a {
	color: #ddd;
}

#simplemodal-container a.modalCloseImg {
	background: url('../images/x.png') no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -16px;
	cursor: pointer;
}

#simplemodal-container h3 {
	color: #84b8d9;
}

#basic-modal-content {
	display: none;
}

/* IMAGE SET */
#icon-users {
	background-position: -600px -5px;
}

#icon-pin {
	background-position: -555px -5px;
}

#icon-setting {
	background-position: -492px -5px;
}

#icon-tools {
	background-position: -432px -5px;
}
#icon-home{
 background-position: -137px -5px;
}
#icon-bubble{
	background-position: -72px -5px;
}
.icon32 {
	background-image: url('../images/icons32.png');
	height: 34px;
	width: 36px;
	display: block;
	float: left;
}

.icon16.icon-users,#icon16-users .menu-icon-users div.wp-menu-image {
	background-position: -300px -33px;
}

.icon16.icon-dashboard,#adminmenu .menu-icon-dashboard div.wp-menu-image
	{
	background-position: -59px -33px;
}

.icon16.icon-dashboard,.menu-icon-dashboard div.wp-menu-image,.icon16.icon-post,.menu-icon-post div.wp-menu-image,.icon16.icon-media,.menu-icon-media div.wp-menu-image,.icon16.icon-links,.menu-icon-links div.wp-menu-image,.icon16.icon-page,.menu-icon-page div.wp-menu-image,.icon16.icon-comments,.menu-icon-comments div.wp-menu-image,.icon16.icon-appearance,.menu-icon-appearance div.wp-menu-image,.icon16.icon-plugins,.menu-icon-plugins div.wp-menu-image,.icon16.icon-users,.menu-icon-users div.wp-menu-image,.icon16.icon-tools,.menu-icon-tools div.wp-menu-image,.icon16.icon-settings,.menu-icon-settings div.wp-menu-image,.icon16.icon-site,.menu-icon-site div.wp-menu-image
	{
	background-image: url('../images/menu.png');
}

.icon16,.icon32,div.wp-menu-image {
	background-color: transparent;
	background-repeat: no-repeat;
}
/** jquery UI override **/
.ui-combobox {
		position: relative;
		display: inline-block;


	}
	.ui-combobox .ui-autocomplete-input{
		color: black;
		font-size: 11px;
		font-weight: normal;
	}
	.ui-button {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
		/* adjust styles for IE 6/7 */
		*height: 1.7em;
		*top: 0.1em;
	}
	.ui-autocomplete-input {
		margin: 0;
		padding: 0.3em;
	}
	
	
div#tab-patient-info {
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	"Helvetica Neue", sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	text-align: right;

	}
	

.invoicesetup-block, .productadd-block, .invoice-block, .invoice-summary-block, .invoicenote-block{
	/**float:left;**/
	border: 1px solid #999;
	margin-right: 20px;
	margin-bottom: 20px;	
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
	display:inline-block;
}

.invoice-summary-block {
	
	width: 1070px;
}

.invoice-block {
	width: 1050px;  
	padding: 10px; 
}


.invoicesetup-block > div:first-child, .invoice-summary-block > div:first-child{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", sans-serif;
	font-size: 16px;
	color: #1C94C4;	
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #EEE;
	padding: 8px;
	margin-bottom: 10px;
}

.invoicesetup-block > div{
	padding: 12px;
}

.invoiceSetupColWrapper {
	 	float:left;
		width:100%;			
		position:relative;
}
.invoiceSetupCol  {
	font-weight: bold;
	float:left;
	position:relative;
	padding:0 0 1em 0;
	width: 33%;
}

.invoice-logo-block, .invoice-cust-block {
	display: block;
	float:left;
	width: 260px;
}

.invoice-addr-block {
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #444;
	width: 460px;
}

.invoice-meta-block, .invoice-gov-block {
	float: right;
	width: 270px;
}

.invoice-item-block {

	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 14px;
}
.invoice-item-heading {
	text-align: left;
	font-weight: bold;
	padding: 2px;
}

.invoice-item-row {
	padding-top: 5px;
	vertical-align: top;
}

.invoice-item-numeric  {
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.invoice-item-input {
	border:1px solid #444;
	text-align: right;
	width: 60px;	
	vertical-align: top;
}

 .invoice-cpap-info-block {
 display: inline-block;
 width: 49%;
 
 }
.invoice-cpap-info-block > span > label {
	font-weight: normal;
	display: inline;
	float: none;
}
.invoice-radio-buttons {
	display: inline;   
	vertical-align: bottom;
	
}

.invoice-totals-block {
	display: inline-block;
	float: right;
	width: 49%;
}

.invoice-totals-item {
	font-weight: bold;
	text-align:right;
	vertical-align: baseline;
	height:20px;
}

.invoice-img-submit, .img-submit-refresh , .img-submit{
		
	border: none;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
}
 
.invoice-logo-img {
	width: 252px;
	height: 66px;
}
	
.invoice-salesfinal {
	
	visibility: hidden;
	display:none;
}	
	
.pageDesc {
	font-size:13px;
}
	
	
.readonly-input {
	border: none;
}

#balanceRemainingCash {
	display: none;
}
