<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<cache:annotation-driven />
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
		p:cache-manager-ref="ehcache" />
	<!-- Ehcache library setup -->
	<bean id="ehcache"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
		p:shared="true" p:config-location="/WEB-INF/ehcache.xml" />

	<bean id="auditService" class="com.esofa.crm.service.AuditService">
	</bean>
	
	<bean id="inventoryAuditService" class="com.esofa.crm.service.InventoryAuditService" parent="auditService">
		<property name="refdataService" ref="refdataService"/>
		<property name="productService" ref="productService"/>
	</bean>
	
	<bean id="customerService" class="com.esofa.crm.service.CustomerService">
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
	<bean id="customerAlertService" class="com.esofa.crm.service.CustomerAlertService">
	</bean>
	
	<bean id="customerEventService" class="com.esofa.crm.service.CustomerEventService">
	</bean>	
	
	<bean id="productAlertService" class="com.esofa.crm.service.ProductAlertService">
	</bean>
	
	<bean id="refdataService" class="com.esofa.crm.refdata.service.RefdataService">
		<property name="cacheManager" ref="cacheManager" />
		<property name="configService" ref="configService"/>
		<property name="invoiceSeqNumService" ref="invoiceSeqNumService"/>
	</bean>
	
	<bean id="salesService" class="com.esofa.crm.service.SalesService">
		<property name="inventoryService" ref="inventoryService"/>
		<property name="inventoryAuditService" ref="inventoryAuditService"/>
		<property name="refdataService" ref="refdataService"/>
		<property name="configService" ref="configService"/>
		<property name="customerEventService" ref="customerEventService"/>
		<property name="customerService" ref="customerService"/>
		<property name="invoiceSeqNumService" ref="invoiceSeqNumService"/>
	</bean>
	<bean id="productService" class="com.esofa.crm.service.ProductService">
		<property name="configService" ref="configService"/>
		<property name="refdataService" ref="refdataService"/>
	</bean>
	
	<bean id="inventoryService" class="com.esofa.crm.service.InventoryService">
		<property name="productService" ref="productService"/>
	</bean>
	
	<bean id="configService" class="com.esofa.crm.service.ConfigService"/>
	
	<bean id="inventoryTransferService" class="com.esofa.crm.service.InventoryTransferService">
		<property name="inventoryService" ref="inventoryService"/>
		<property name="inventoryAuditService" ref="inventoryAuditService"/>
	</bean>	

	<bean id="userService" class="com.esofa.crm.service.UserService">
		<property name="cacheManager" ref="cacheManager" />
	</bean>
	
	<bean id="trialItemService" class="com.esofa.crm.service.TrialItemService">
	</bean>

	
	<bean id="trialItemAuditService" class="com.esofa.crm.service.TrialItemAuditService" 
		parent="auditService">
		<property name="refdataService" ref="refdataService"/>
		<property name="productService" ref="productService"/>
	</bean>

	<bean id="invoiceSeqNumService" class="com.esofa.crm.service.InvoiceSeqNumService">
	</bean>


	<bean id="mailerLiteService" class="com.esofa.crm.service.CpapMailerLiteService">
		<property name="configService" ref="configService"/>
		<property name="mailerLiteService">
			<bean class="com.esofa.mailerlite.MailerLiteService"/>
		</property>
	</bean>
	
	<bean id="refreshMailerLiteTask" class="com.esofa.crm.queuejob.RefreshMailerLiteTask">
		<property name="mailerLiteService" ref="mailerLiteService"/>
		<property name="customerService" ref="customerService"/>
	</bean>


	<!-- objectify factory with Scanning <bean class="com.googlecode.objectify.spring.ObjectifyFactoryBean" 
		p:basePackage="com.esofa.crm.common.model;com.esofa.crm.model;com.esofa.crm.refdata.model;" 
		/ -->

	<!--
	<bean id="objFac" class="com.googlecode.objectify.spring.ObjectifyFactoryBean">
		<property name="classes">
			<list>
				Config 
				<value>com.esofa.crm.model.Config</value>
				
				Audit  
				<value>com.esofa.crm.model.AuditEntry</value>

				Customer 
				<value>com.esofa.crm.model.Customer</value>
				<value>com.esofa.crm.model.CustomerAlert</value>
				<value>com.esofa.crm.model.CustomerEvent</value>
				<value>com.esofa.crm.model.CustomerExtendedInfo</value>
				<value>com.esofa.crm.model.CustomerHasSpecialMedicalNote</value>
				<value>com.esofa.crm.model.CustomerInsuranceInfo</value>
				<value>com.esofa.crm.model.CustomerInsuranceInfoType1</value>
				<value>com.esofa.crm.model.CustomerInsuranceInfoType2</value>
				<value>com.esofa.crm.model.CustomerMedicalInfo</value>
				<value>com.esofa.crm.model.CustomerPaymentInfo</value>
				<value>com.esofa.crm.model.CustomerCpapTrialInfo</value>

				Product
				<value>com.esofa.crm.model.Inventory</value>
				<value>com.esofa.crm.model.Product</value>
				<value>com.esofa.crm.model.ProductAlert</value>
				<value>com.esofa.crm.model.InventoryTransfer</value>
				<value>com.esofa.crm.model.InventoryCostEntry</value>
				<value>com.esofa.crm.model.InventoryCostQueue</value>

				
				<value>com.esofa.crm.refdata.model.AlertSubType</value>
				<value>com.esofa.crm.refdata.model.AlertType</value>
				<value>com.esofa.crm.refdata.model.Clinician</value>
				<value>com.esofa.crm.refdata.model.AppointmentPreference</value>
				<value>com.esofa.crm.refdata.model.ContactPreference</value>
				<value>com.esofa.crm.refdata.model.DiscountReason</value>
				<value>com.esofa.crm.refdata.model.CpapDiagnosis</value>
				<value>com.esofa.crm.refdata.model.EventSubType</value>
				<value>com.esofa.crm.refdata.model.EventType</value>
				<value>com.esofa.crm.refdata.model.FamilyDoctor</value>
				<value>com.esofa.crm.refdata.model.FundingOption</value>
				<value>com.esofa.crm.refdata.model.InsuranceProvider</value>
				<value>com.esofa.crm.refdata.model.Manufacturer</value>
				<value>com.esofa.crm.refdata.model.ProductSubType</value>
				<value>com.esofa.crm.refdata.model.ProductType</value>
				<value>com.esofa.crm.refdata.model.Setting</value>
				<value>com.esofa.crm.refdata.model.Shop</value>
				<value>com.esofa.crm.refdata.model.SleepClinic</value>
				<value>com.esofa.crm.refdata.model.SleepDoctor</value>

				Rule Engine 
				<value>com.esofa.crm.rule.Rule</value>

				Security
				<value>com.esofa.crm.security.user.model.CrmUser</value>
				<value>com.esofa.crm.security.user.model.GrantedAuthorityImpl</value>
				<value>com.esofa.crm.security.user.model.AllowedIP</value>
				<value>com.esofa.crm.security.user.model.CustomerProfileTempAccess</value>
				<value>com.esofa.crm.security.user.model.UserPasscode</value>
				
				POS
				<value>com.esofa.crm.model.pos.Invoice</value>
				<value>com.esofa.crm.model.pos.InvoiceItem</value>
				<value>com.esofa.crm.model.pos.InvoicePayment</value>
				<value>com.esofa.crm.model.pos.InvoiceSeqNum</value>

				Trial
				<value>com.esofa.crm.model.trial.TrialItem</value>
	
				Reports
				<value>com.esofa.crm.model.report.GeneratedReport</value>
				<value>com.esofa.crm.model.report.InventoryCostRE</value>
				<value>com.esofa.crm.model.report.ArAgingRE</value>
			</list>
		</property>
	</bean>
	-->
</beans>