<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<import resource="applicationContext-services.xml"/>

	<bean id="reportFolder" class="com.esofa.crm.drive.DataDumpFolder">
			<constructor-arg index="0" ref="configService"/>
	</bean>
	
	<bean id="tempFolder" class="com.esofa.crm.drive.ApplicationTempFolder">
			<constructor-arg index="0" ref="configService"/>
	</bean>	
	
	<bean id="onlineReportTask" class="com.esofa.crm.queuejob.AbstractOnlineReportTask" abstract="true">
		<property name="snapshotReportFacade" ref="snapshotReportFacade"/>
	</bean>
	
	<bean id="dataDumpReportTask" class="com.esofa.crm.queuejob.DataDumpReportTask" abstract="true">
		<property name="dataDumpFolder" ref="reportFolder"/>
		<property name="tempFolder" ref="tempFolder"/>
		<property name="mailUtils" ref="mailUtils"/>
	</bean>
		
	
	<bean id="inventoryCostReportTask" class="com.esofa.crm.reports.queuejob.InventoryCostReportTask" parent="onlineReportTask">
		<property name="reportName" value="Inventory Cost Report"/>
		<property name="reportClassName" value="com.esofa.crm.model.report.InventoryCostRE"/>
		<property name="refdataService" ref="refdataService"/>
		<property name="productService" ref="productService"/>	
		<property name="inventoryTransferService" ref="inventoryTransferService"/>
		<property name="inventoryService" ref="inventoryService"/>
		<property name="supportedCompanies"><util:list><ref bean="CPAP"/></util:list></property>
	</bean>
	
	<bean id="arAgingReportTask" class="com.esofa.crm.reports.queuejob.ArAgingReportTask" parent="onlineReportTask">
		<property name="reportName" value="Account Receivable Aging Report"/>
		<property name="reportClassName" value="com.esofa.crm.model.report.ArAgingRE"/>
		<property name="salesService" ref="salesService"/>	
		<property name="supportedCompanies"><util:list><ref bean="CPAP"/></util:list></property>					
	</bean>


	
	<bean id="customerReportTask" class="com.esofa.crm.reports.queuejob.CustomerReportTask"
		parent="dataDumpReportTask">
		<property name="reportName" value="Customer Data Dump Report"/>
		<property name="refdataService" ref="refdataService"/>		
		<property name="customerService" ref="customerService"/>
		<property name="mapping">
			<util:map >
				<entry key="Name" value=""/>				
				<entry key="Last Name" value=""/>				
				<entry key="First Name" value=""/>
				<entry key="Last Updated" value=""/>
				<entry key="Clinician Name" value=""/>
				<entry key="Clinician Last Name" value=""/>
				<entry key="Clinician First Name" value=""/>
				<entry key="Preferred Location" value=""/>
				<entry key="Appointment Preference" value=""/>
				<entry key="Language Preference" value=""/>
				<entry key="Gender" value=""/>
				<entry key="DOB" value=""/>				
				<entry key="Health Card Number" value=""/>
				<entry key="Contact Preference" value=""/>
				<entry key="Consent Phone" value=""/>
				<entry key="Consent Email" value=""/>
				<entry key="Consent Mail" value=""/>
				<entry key="Email" value=""/>
				<entry key="Home Phone" value=""/>
				<entry key="Office Phone" value=""/>
				<entry key="Office Extension" value=""/>
				<entry key="Mobile Phone" value=""/>
				<entry key="Address 1" value=""/>
				<entry key="Address 2" value=""/>
				<entry key="City" value=""/>
				<entry key="Province" value=""/>
				<entry key="Postal Code" value=""/>
				<entry key="Country" value=""/>
				<entry key="Gov Funding" value=""/>
				<entry key="Insurance Funding" value=""/>
			</util:map>
		</property>
	</bean>	
	
	<!-- snapshot reporting testing:
	http://localhost:8888/qj/start?setName=snapshotReports
	
	http://localhost:8888/qj/execute?setName=snapshotReports&jobName=arAgingReportTask
	 -->

	<!-- Reports -->
	
	
	<bean id="dateRangeReportFacade" class="com.esofa.crm.reports.DateRangeReportFacade">
		<property name="configService" ref="configService"/>
		<property name="supportedReports">
			<util:list>
				<ref bean="arAdjustmentReport"/>
				<ref bean="collectionReport"/>
				<ref bean="inventoryAdjReport"/>
				<ref bean="inventoryPurchaseReport"/>				
				<ref bean="salesReport"/>
				<ref bean="salesDetailReport"/>
				<ref bean="depositReport"/>
			</util:list>
		</property>
	</bean>
	
	<bean id="baseCrmReport" class="com.esofa.crm.reports.impl.BaseCrmReport" abstract="true">
		<property name="configService" ref="configService" />
		<property name="refdataService" ref="refdataService" />
	</bean>
	
	<bean id="inventoryAdjReport" class="com.esofa.crm.reports.impl.InventoryAdjustmentReport"
		parent="baseCrmReport">
		<property name="displayName" value="Inventory Adjustment Report"/>
		<property name="inventoryAuditService" ref="inventoryAuditService"/>
		<property name="userService" ref="userService"/>
		<property name="mapping">
			<util:map >
				<entry key="Audit ID" value="id"/>
				<entry key="Date" value="entryDate"/>
				<entry key="User Name" value=""/>
				<entry key="User First Name" value=""/>
				<entry key="User Last Name" value=""/>
				<entry key="Quantity" value="qty"/>
				<entry key="Inventory Cost" value="inventoryCost"/>
				<entry key="Audit Details" value="auditDetails"/>
				<entry key="User Message" value="userMessage"/>			
			</util:map>		
		</property>
		<property name="supportedCompanies"><util:list><ref bean="CPAP"/></util:list></property>			
	</bean>

	<bean id="collectionReport" class="com.esofa.crm.reports.impl.CollectionReport"
		parent="baseCrmReport">
		<property name="salesService" ref="salesService"/>
		<property name="displayName" value="Collection Report"/>
		<property name="descriptionList">
			<util:list>
				<value>Full Payment</value>
				<value>Payment</value>
				<value>Penny Round</value>
				<value>Adp Payment</value>
				<value>Client Adp Payment</value>
				<value>Credit</value>
				<value>Other Income</value>
				<value>Transfer to Payment</value>
				<value>Transfer to Other Income</value>
			</util:list>
		</property>
		<property name="mapping" ref="invoicePaymentReportMapping"/>		
	</bean>	
	
	<bean id="arAdjustmentReport" class="com.esofa.crm.reports.impl.CollectionReport"
		parent="baseCrmReport">
		<property name="salesService" ref="salesService"/>
		<property name="displayName" value="A/R Adjustment Report"/>
		<property name="descriptionList">
			<util:list>
				<value>Adjustment</value>
				<value>Adp Adjustment</value>
			</util:list>
		</property>
		<property name="mapping" ref="invoicePaymentReportMapping"/>
	</bean>

	<bean id="depositReport" class="com.esofa.crm.reports.impl.CollectionReport"
		parent="baseCrmReport">
		<property name="salesService" ref="salesService"/>
		<property name="displayName" value="Deposit Report"/>
		<property name="descriptionList">
			<util:list>
				<value>Deposit</value>
				<value>Deposit Refund</value>
			</util:list>
		</property>
		<property name="mapping" ref="invoicePaymentReportMapping"/>
		<property name="supportedCompanies"><util:list><ref bean="CPAP"/></util:list></property>
	</bean>	
	
	<util:map id="invoicePaymentReportMapping" >
		<entry key="Invoice Number" value=""/>
		<entry key="Store Name" value=""/>
		<entry key="Date" value="paymentDate"/>
		<entry key="Invoice Status" value=""/>
		<entry key="Payment Method" value="paymentMethod"/>
		<entry key="Description" value="description"/>
		<entry key="Username" value="userName"/>
		<entry key="UserFirstname" value="userFirstName"/>
		<entry key="UserLastname" value="userLastName"/>
		<entry key="Amount" value="amt"/>			
	</util:map>	
	
	
	<bean id="inventoryPurchaseReport" class="com.esofa.crm.reports.impl.InventoryPurchaseReport" parent="baseCrmReport">
		<property name="inventoryService" ref="inventoryService"/>
		<property name="productService" ref="productService"/>
		<property name="refdataService" ref="refdataService"/>
		<property name="displayName" value="Inventory Purchase Report"/>
		<property name="mapping">
			<util:map >
				<entry key="Date" value="insertDateTime"/>
				<entry key="Manufacturer" value=""/>
				<entry key="Product Type" value=""/>
				<entry key="Product SubType" value=""/>
				<entry key="Product Name" value=""/>
				<entry key="Product Bar Code" value=""/>
				<entry key="Product Reference Number" value=""/>
				<entry key="Quantity" value="qty"/>
				<entry key="Cost" value="cost"/>			
			</util:map>		
		</property>
		<property name="supportedCompanies"><util:list><ref bean="CPAP"/></util:list></property>			
	</bean>

	<bean id="salesReport" class="com.esofa.crm.reports.impl.SalesReport"
		parent="baseCrmReport">
		<property name="salesService" ref="salesService"/>
		<property name="refdataService" ref="refdataService"/>
		<property name="customerService" ref="customerService"/>
		<property name="displayName" value="Sales Report"/>
		<property name="mapping">
			<util:map >
				<entry key="Invoice Date" value="invoiceDate"/>
				<entry key="Invoice Type" value="invoiceType"/>								
				<entry key="Invoice Number" value="invoiceNumber"/>
				<entry key="Customer Id" value="customerKey.id"/>
				<entry key="Customer Name" value="customerName"/>
				<entry key="Customer First Name" value="customerFirstName"/>
				<entry key="Customer Last Name" value="customerLastName"/>
				<entry key="Benefit Code" value="benefitCode"/>
				<entry key="Payment Method" value="paymentMethod"/>
				<entry key="Status" value="status"/>
				<entry key="ADP Status" value="adpStatus"/>
				<entry key="Redem Code" value="redemCode"/>
				<entry key="Discount Reason" value=""/>
				<entry key="Discount Note" value="discountNote"/>
				<entry key="SubTotal" value="subTotal"/>
				<entry key="Shipping" value="shippingTotal"/>
				<entry key="Hst" value="hst"/>
				<entry key="Total" value="total"/>
				<entry key="Adp Portion" value="adpPortion"/>
				<entry key="Promo Code" value="promoCode"/>
				<entry key="Client Portion" value="clientPortion"/>
				<entry key="Referenced Invoice Number" value="referencedInvoiceNumber"/>
				<entry key="Referenced Invoice Credit" value="refInvoiceCredit"/>
				<entry key="Adjusted Client Portion" value="adjInvoiceClientPortion"/>						
				<entry key="Prepared By" value="userName"/>
				<entry key="Prepared By First Name" value="userFirstName"/>
				<entry key="Prepared By Last Name" value="userLastName"/>				
				<entry key="Location" value="shopName"/>
				<entry key="Company" value="company"/>
				<entry key="Price Mode" value="priceMode"/>
				<entry key="Create Timestamp" value=""/>
				<entry key="Invoice Internal Id" value="id"/>
				<entry key="Referred By Type" value=""/>
				<entry key="Referred Doctor First Name" value=""/>
				<entry key="Referred Doctor Last Name" value=""/>
				<entry key="Has Special Pricing" value="specialPricing"/>
			</util:map>		
		</property>			
	</bean>

	<bean id="salesDetailReport" class="com.esofa.crm.reports.impl.SalesDetailReport"
		parent="baseCrmReport">
		<property name="salesService" ref="salesService"/>
		<property name="productService" ref="productService"/>
		<property name="displayName" value="Sales Detail Report"/>
		<property name="mapping">
			<util:map >
				<entry key="Invoice Date" value=""/>				
				<entry key="Invoice Internal Id" value=""/>
				<entry key="Invoice Number" value=""/>
				<entry key="Invoice Status" value=""/>
				<entry key="Invoice Type" value=""/>
				<entry key="Product Name" value="productName"/>
				<entry key="Product Barcode" value=""/>
				<entry key="Product Reference" value=""/>
				<entry key="Product Serial Number" value="productSerialNumber"/>
				<entry key="Product Type" value=""/>
				<entry key="Product SubType" value=""/>
				<entry key="Manufacturer" value=""/>
				<entry key="Lot Number"  value="lotNumber"/>
				<entry key="Quantity" value="qty"/>
				<entry key="Price" value="price"/>
				<entry key="Total" value="total"/>
				<entry key="Inventory Cost" value="inventoryCost"/>
				<entry key="Hst applicable" value="hstApplicable"/>
				<entry key="Bypass Inventory Adjust" value="bypassInvAdj"/>
				<entry key="Location" value=""/>
				<entry key="Clinician Name" value=""/>
				<entry key="Clinician First Name" value=""/>
				<entry key="Clinician Last Name"  value=""/>
				<entry key="Price Tier" value="priceTier"/>
			</util:map>		
		</property>			
	</bean>
	
	<!-- sales report for staff. quantity only. 


	<bean id="clinicianSalesReport" class="com.esofa.crm.reports.impl.SalesDetailReport"
		parent="baseCrmReport">
		<property name="salesService" ref="salesService"/>
		<property name="productService" ref="productService"/>
		<property name="displayName" value="Sales Detail Report"/>
		<property name="mapping">
			<util:map >
				<entry key="Location" value=""/>			
				<entry key="Product Name" value="productName"/>
				<entry key="Product Barcode" value=""/>
				<entry key="Quantity" value="qty"/>
				<entry key="Clinician Name" value=""/>
				<entry key="Clinician First Name" value=""/>
				<entry key="Clinician Last Name"  value=""/>
			</util:map>		
		</property>			
	</bean>	
	-->
	
	<bean id="snapshotReportFacade" class="com.esofa.crm.reports.SnapshotReportFacade">
		<property name="configService" ref="configService"/>
		<property name="supportedReports">
			<util:list>
				<ref bean="inventoryCostReport"/>
				<ref bean="arAgingReport"/>
			</util:list>
		</property>
	</bean>

	<bean id="baseSnapshotReport" class="com.esofa.crm.reports.impl.SnapshotReport" parent="baseCrmReport" abstract="true">		
	</bean>

	<bean id="inventoryCostReport" class="com.esofa.crm.reports.impl.InventoryCostSnapshotReport" parent="baseSnapshotReport">
		<property name="displayName" value="Inventory Cost Report"/>
		<property name="clazz" value="com.esofa.crm.model.report.InventoryCostRE"/>
		<property name="mapping">
			<util:map >
				<entry key="Snapshot Date" value="snapshotDate"/>
				<entry key="Manufacturer" value="manufacturerName"/>
				<entry key="Product Name" value="productName"/>
				<entry key="Product Barcode" value="productBarcode"/>
				<entry key="!shops" value=""/>	<!-- custom logic for this entry -->
				<entry key="Total Count" value="totalCount"/>
				<entry key="Average Unit Cost" value="avgUnitCost"/>
				<entry key="Total Inventory Cost" value="totalInventoryCost"/>			
			</util:map>		
		</property>	
		<property name="supportedCompanies"><util:list><ref bean="CPAP"/></util:list></property>		
	</bean>
	
	<bean id="arAgingReport" parent="baseSnapshotReport">
		<property name="displayName" value="Account Receivable Aging Report"/>
		<property name="clazz" value="com.esofa.crm.model.report.ArAgingRE"/>
		<property name="mapping">
			<util:map >
				<entry key="Snapshot Date" value="snapshotDate"/>
				<entry key="Customer Id" value="customerId"/>
				<entry key="Customer Name" value="customerName"/>
				<entry key="Customer First Name" value="customerFirstName"/>
				<entry key="Customer Last Name" value="customerLastName"/>
				<entry key="Invoice" value="invoiceNumber"/>
				<entry key="Invoice Date" value="invoiceDate"/>
				<entry key="Type" value="portionType"/>
				<entry key="Location" value="location"/>
				<entry key="Prepared By" value="preparedByFirstName"/>
				<entry key="Original Amount" value="amt"/>
				<entry key="Remaining Balance" value="remainingBalance"/>
				<entry key="30 Days" value="days30"/>
				<entry key="60 Days" value="days60"/>
				<entry key="90 Days" value="days90"/>
				<entry key="120 Days" value="days120"/>
				<entry key="180 Days" value="days180"/>
				<entry key="Over 180 Days" value="daysOver180"/>		
			</util:map>		
		</property>	
		<property name="supportedCompanies"><util:list><ref bean="CPAP"/></util:list></property>		
	</bean>	

	<bean id="dataDumpReportFacade" class="com.esofa.crm.reports.DataDumpReportFacade">
		<property name="supportedReports">
			<util:list>
				<ref bean="inventoryCountReport"/>
			</util:list>
		</property>
	</bean>

	<bean id="inventoryCountReport" class="com.esofa.crm.reports.impl.InventoryCountReport"
		parent="baseCrmReport">
		<property name="productService" ref="productService"/>
		<property name="inventoryTransferService" ref="inventoryTransferService"/>
		<property name="displayName" value="Inventory Count Report"/>		
		<property name="mapping">
			<util:map >
				<entry key="Product" value="name"/>				
				<entry key="ADP Catalog Number" value="adpCatalogNumber"/>
				<entry key="Reference Number" value="referenceNumber"/>
				<entry key="Barcode" value="productBarCode"/>
				<entry key="Type" value=""/>
				<entry key="Subtype" value=""/>
				<entry key="Price" value="price"/>
				<entry key="Return Customer Price" value="priceNonAdp"/>
				<entry key="!shops" value=""/>
				<entry key="Total" value=""/>
			</util:map>
		</property>
		<property name="supportedCompanies"><util:list><ref bean="CPAP"/></util:list></property>
	</bean>		

	<bean id="emailReportTask" class="com.esofa.crm.queuejob.AbstracEmailReportTask" abstract="true">	
		<property name="snapshotReportFacade" ref="snapshotReportFacade"/>
		<property name="configService" ref="configService"/>
		<property name="mailUtils" ref="mailUtils" />
		<property name="tempFolder" ref="tempFolder" />
	</bean>
	
	<bean id="simonDailySalesReport" class="com.esofa.crm.reports.queuejob.SimonSalesReport" parent="emailReportTask">
		<property name="salesService" ref="salesService"/>
		<property name="refdataService" ref="refdataService"/>
		<property name="configToEmailAddrKey" value="REPORT.SIMON.EMAIL"/>
		<property name="mapping">
			<util:map >
				<entry key="Product" value=""/>				
				<entry key="Clinician Name" value=""/>
				<entry key="Clinician First Name" value=""/>
				<entry key="Clinician Last Name" value=""/>
				<entry key="Quantity" value=""/>
				<entry key="Location" value=""/>
			</util:map>
		</property>		
	</bean>
	
	<bean id="simonDailyReferralReport" class="com.esofa.crm.reports.queuejob.SimonReferralReport" parent="emailReportTask">
		<property name="customerService" ref="customerService"/>
		<property name="refdataService" ref="refdataService"/>
		<property name="configToEmailAddrKey" value="REPORT.SIMON.EMAIL"/>
		<property name="mapping">
			<util:map >
				<entry key="Referred By" value=""/>	
				<entry key="Doctor First Name" value=""/>			
				<entry key="Doctor Last Name" value=""/>
				<entry key="Sleep Clinic" value=""/>
				<entry key="Customer Name" value=""/>
				<entry key="Location" value=""/>
			</util:map>
		</property>				
	</bean>
</beans>

