<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<import resource="applicationContext-services.xml"/>
	<import resource="applicationContext-reports.xml"/>
	<import resource="applicationContext-purge.xml"/>

	<bean id="CPAP" class="java.lang.String">
		<constructor-arg value="CPAPDIRECT"/>
	</bean>

	<bean id="SLEEPMED" class="java.lang.String">
		<constructor-arg value="SLEEPMED"/>
	</bean>
	
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/message/formathits</value>
				<value>/WEB-INF/messages/validationMessages</value>
			</list>
		</property>
	</bean>
	
	<bean name="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource">
			<ref bean="messageSource" />
		</property>
	</bean>

	<bean id="companyModeFilter" class="com.esofa.crm.controller.CompanyModeFilter">
		<property name="configService" ref="configService"/>
	</bean>

	<bean id="objectifyFilter" class="com.googlecode.objectify.ObjectifyFilter"/>

	<!-- RuleEngine -->
	<bean id="adminRuleEngineController"
		class="com.esofa.crm.admin.controller.AdminRuleEngineController">
		<property name="actions">
			<map>
				<entry key="com.esofa.crm.rule.CreateCustomerHistoryAction">
					<value>Create Customer Note Action</value>
				</entry>
				<entry key="com.esofa.crm.rule.CreateCustomerAlertAction">
					<value>Create Customer Alert Action</value>
				</entry>
				<entry key="com.esofa.crm.rule.UpdateMedicalInfoAction">
					<value>Update Customer Medical Info</value>
				</entry>
				<entry key="com.esofa.crm.rule.AddSubscriberAction">
					<value>Add MailerLite Subscriber</value>
				</entry>
				<entry key="com.esofa.crm.rule.CancelInventoryTransferAction">
					<value>Cancel Inventory Transfer Notification</value>
				</entry>				
			</map>
		</property>
	</bean>

	<bean id="ruleEngine" class="com.esofa.crm.rule.RuleEngine">
		<property name="actions">
			<map>
				<entry key="com.esofa.crm.rule.CreateCustomerHistoryAction">
					<bean id="createCustomerHistoryAction" class="com.esofa.crm.rule.CreateCustomerHistoryAction">
						<property name="customerEventService" ref="customerEventService" />
					</bean>
				</entry>
				<entry key="com.esofa.crm.rule.CreateCustomerAlertAction">
					<bean id="createCustomerAlertAction" class="com.esofa.crm.rule.CreateCustomerAlertAction">
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
						<property name="customerAlertService" ref="customerAlertService"/>
					</bean>
				</entry>
				<entry key="com.esofa.crm.rule.CreateProductAlertAction">
					<bean id="CreateProductAlertAction" class="com.esofa.crm.rule.CreateProductAlertAction">
						<property name="productAlertService" ref="productAlertService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>				
				<entry key="com.esofa.crm.rule.UpdateMedicalInfoAction">
					<bean id="updateMedicalInfoAction" class="com.esofa.crm.rule.UpdateMedicalInfoAction">
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
						<property name="productService" ref="productService" />
						<property name="configService" ref="configService" />
					</bean>
				</entry>
				<entry key="com.esofa.crm.rule.AddSubscriberAction">
					<bean id="addSubscriberInfoAction" class="com.esofa.crm.rule.AddSubscriberAction">
						<property name="mailerLiteService" ref="mailerLiteService"/>
					</bean>
				</entry>
				<entry key="com.esofa.crm.rule.CancelInventoryTransferAction">
					<bean id="cancelInventoryTransferAction" class="com.esofa.crm.rule.CancelInventoryTransferAction">
						<property name="mailUtils" ref="mailUtils"/>
						<property name="userService" ref="userService"/>
						<property name="configService" ref="configService"/>
						<property name="refdataService" ref="refdataService" />
						<property name="productService" ref="productService" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>


	<!-- Admin Stuff -->
	<bean id="adminController" class="com.esofa.crm.admin.controller.AdminController">
		<property name="types">
			<list>

				<!-- User mgmt -->
				<value>com.esofa.crm.security.user.model.CrmUser</value>
				<value>com.esofa.crm.security.user.model.GrantedAuthorityImpl</value>
				<value>com.esofa.crm.security.user.model.AllowedIP</value>
				<value>com.esofa.crm.security.user.model.CustomerProfileTempAccess</value>
				<value>com.esofa.crm.security.user.model.UserPasscode</value>

				<!-- Config -->
				<value>com.esofa.crm.rule.Rule</value>
				<value>com.esofa.crm.model.Config</value>

				<value>com.esofa.crm.refdata.model.Shop</value>
				<value>com.esofa.crm.refdata.model.PrimaryAdpInfo</value>
				<value>com.esofa.crm.model.pos.InvoiceSeqNum</value>
				<value>com.esofa.crm.refdata.model.FundingOption</value>
				<value>com.esofa.crm.refdata.model.CpapDiagnosis</value>
				<!-- value>(DUN USE)com.esofa.crm.refdata.model.productStatus</value -->
				<value>com.esofa.crm.refdata.model.AppointmentPreference</value>
				<value>com.esofa.crm.refdata.model.ContactPreference</value>
				<value>com.esofa.crm.refdata.model.DiscountReason</value>
				<value>com.esofa.crm.refdata.model.Clinician</value>
				<value>com.esofa.crm.refdata.model.Manufacturer</value>
				<value>com.esofa.crm.refdata.model.InsuranceProvider</value>

				<value>com.esofa.crm.refdata.model.FamilyDoctor</value>
				<value>com.esofa.crm.refdata.model.SleepClinic</value>
				<value>com.esofa.crm.refdata.model.SleepDoctor</value>
				<value>com.esofa.crm.refdata.model.Dentist</value>
				<value>com.esofa.crm.refdata.model.DentalClinic</value>

				<value>com.esofa.crm.refdata.model.ProductType</value>
				<value>com.esofa.crm.refdata.model.ProductSubType</value>
				<value>com.esofa.crm.refdata.model.EventType</value>
				<value>com.esofa.crm.refdata.model.EventSubType</value>
				<value>com.esofa.crm.refdata.model.AlertType</value>
				<value>com.esofa.crm.refdata.model.AlertSubType</value>
				
				<value>com.esofa.crm.refdata.model.Setting</value>

				<!-- Real Stuff -->
				<value>com.esofa.crm.model.Product</value>
				<value>com.esofa.crm.model.Inventory</value>
				<value>com.esofa.crm.model.Customer</value>
				<value>com.esofa.crm.model.CustomerExtendedInfo</value>
				<value>com.esofa.crm.model.CustomerInsuranceInfo</value>
				<value>com.esofa.crm.model.CustomerInsuranceInfoType1</value>
				<value>com.esofa.crm.model.CustomerInsuranceInfoType2</value>
				<value>com.esofa.crm.model.CustomerMedicalInfo</value>
				<value>com.esofa.crm.model.CustomerPaymentInfo</value>

				<value>com.esofa.crm.model.alert.ProductAlert</value>
				<value>com.esofa.crm.model.alert.CustomerAlert</value>
				<value>com.esofa.crm.model.CustomerEvent</value>

			</list>
		</property>
	</bean>

	<bean id="pdfMapper" class="com.esofa.crm.model.util.PdfMapper_4793_67E_201404">
		<property name="customerService" ref="customerService" />
		<property name="productService" ref="productService" />
		<property name="salesService" ref="salesService" />
		<property name="refdataService" ref="refdataService" />
		<property name="invoiceMode" value="true"/>
	</bean>
	
	<bean id="customerPdfMapperProvider" class="com.esofa.crm.model.util.CustomerPdfMapperProvider">
		<property name="pdfMapperMap">
			<util:map>
				<entry key="PatientProgress">
					<bean class="com.esofa.crm.model.util.PdfMapper_PatientProgress">
						<property name="formPath" value="WEB-INF/misc/PatientProgressReport.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>
				<entry key="TrialAgreement">
					<bean class="com.esofa.crm.model.util.PdfMapper_TrialAgreement">
						<property name="formPath" value="WEB-INF/misc/TrialAgreement.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>
				<entry key="SetupNotificationCpap">
					<bean class="com.esofa.crm.model.util.PdfMapper_SetupNotificationBase">
						<property name="formPath" value="WEB-INF/misc/SetupNotification-CPAP.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>
				<entry key="SetupNotificationApap">
					<bean class="com.esofa.crm.model.util.PdfMapper_SetupNotificationBase">
						<property name="formPath" value="WEB-INF/misc/SetupNotification-APAP.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>				
				<entry key="SetupNotificationBipap">
					<bean class="com.esofa.crm.model.util.PdfMapper_SetupNotificationBase">
						<property name="formPath" value="WEB-INF/misc/SetupNotification-BiPAP.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>			
				<entry key="SetupCheckList">
					<bean class="com.esofa.crm.model.util.PdfMapper_SetupCheckList">
						<property name="formPath" value="WEB-INF/misc/SetupCheckList.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>
				<entry key="AdpForm">
					<bean class="com.esofa.crm.model.util.PdfMapper_4793_67E_201404">
						<property name="customerService" ref="customerService" />
						<property name="productService" ref="productService" />
						<property name="salesService" ref="salesService" />
						<property name="refdataService" ref="refdataService" />
						<property name="invoiceMode" value="false"/>
					</bean>
				</entry>	
				<entry key="SMedHstAgreement">
					<bean class="com.esofa.crm.model.util.sleepmed.PdfMapper_HmSleepTestAgreement">
						<property name="formPath" value="WEB-INF/misc/SMedHmSleepTestAgreement.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>
				<entry key="SMedHstReturnChklst">
					<bean class="com.esofa.crm.model.util.PdfMapper_BasicSignature">
						<property name="formPath" value="WEB-INF/misc/SMedHstReturnChklst.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>
				<entry key="SMedClinicialChklist">
					<bean class="com.esofa.crm.model.util.PdfMapper_BasicSignature">
						<property name="formPath" value="WEB-INF/misc/SMedClinicialChklist.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>	
				<entry key="SMInDepth_SleepAssess">
					<bean class="com.esofa.crm.model.util.sleepmed.PdfMapper_InDepthSleepAssess">
						<property name="formPath" value="WEB-INF/misc/SMInDepth_SleepAssess.pdf"/>
						<property name="customerService" ref="customerService" />
						<property name="refdataService" ref="refdataService" />
					</bean>
				</entry>							
			</util:map>
		</property>
	</bean>
	
	<bean id="mailUtils" class="com.esofa.crm.util.MailUtils">
		<property name="fromAddress" value="cpapdirect.app@gmail.com"/>
		<property name="defaultToAddress" value="jackson.ha@gmail.com"/>
	</bean>
	
	<bean id="tempFolder" class="com.esofa.crm.drive.ApplicationTempFolder">
		<constructor-arg index="0" ref="configService"/>
	</bean>
	
	<bean id="queueJobManager" class="com.esofa.gae.queue.QueueJobManager">
		<property name="mailUtils" ref="mailUtils"/>
		<property name="alertToAddress" value="jackson.ha@gmail.com" />
		<property name="jobList">
			<map>
				<entry key="dailyPurge">				
					<map>
						<entry key="auditPurge" value-ref="auditPurge" />
						<entry key="inventoryCostPurge" value-ref="inventoryCostPurge"/>
						<entry key="argAgingPurge" value-ref="argAgingPurge"/>
						<entry key="generatedReportPurge" value-ref="generatedReportPurge"/>
						<entry key="reportFolderPurge" value-ref="reportFolderPurge"/>
						<entry key="tempFolderPurge" value-ref="tempFolderPurge"/>
						<entry key="oldInventoryPurge" value-ref="oldInventoryPurge"/>
					</map>
				</entry>
				<entry key="snapshotReports">
					<map>
						<entry key="inventoryCostReportTask" value-ref="inventoryCostReportTask"/>
					 	<entry key="arAgingReportTask" value-ref="arAgingReportTask"/>
					</map>
				</entry>
				<entry key="dataDumpReport">
					<map>
						<entry key="customerReportTask" value-ref="customerReportTask"/>
					</map>					
				</entry>
				<entry key="refreshMailerLite">
					<map>
						<entry key="refreshMailerLiteTask" value-ref="refreshMailerLiteTask"/>
					</map>
				</entry>						
			  	<entry key="dailySimonReports">
					<map>
						<entry key="simonDailySaleReport" value-ref="simonDailySalesReport"/>
						<entry key="simonDailyReferralReport" value-ref="simonDailyReferralReport"/>
					</map>
				</entry>
				<entry key="test">				
					<map>
						<entry key="driveFolderTest" value-ref="driveFolderTest" />
					</map>
				</entry>			
			</map>
		</property>
	</bean>
	
	
	
	<bean id="driveFolderTest" class="com.esofa.crm.reports.queuejob.DriveFolderTestTask"
		parent="dataDumpReportTask">
		<property name="reportName" value="Customer Data Dump Report"/>
	</bean>	
	
	
		<!-- 
			purge testing
			http://localhost:8888/qj/execute?setName=dailyPurge&jobName=reportFolderPurge&fileName=all
			http://localhost:8888/qj/execute?setName=dailyPurge&jobName=oldInventoryPurge
			http://localhost:8888/qj/execute?setName=test&jobName=driveFolderTest
					
			snapshot refresh testing: http://localhost:8888/qj/start?setName=refreshMailerLite  
			simon report testing: http://localhost:8888/qj/start?setName=dailySimonReports
			simon report testing: http://localhost:8888/qj/start?setName=dailySimonReports?FROM=20141230&END=20141231
			
		-->	
	

	<bean id="multipartResolver" class="org.gmr.web.multipart.GMultipartResolver">
		<property name="maxUploadSize" value="10048576" />
	</bean>
	
	<util:list id="invoiceProductValidators">
		<ref bean="defaultProductValidator"/>
		<ref bean="otherProductValidator"/>
		<ref bean="trialProductValidator"/>
		<ref bean="trialRefundProductValidator"/>
		<ref bean="salesReturnProductValidator"/>	
	</util:list>
	
	<bean id ="defaultProductValidator" class="com.esofa.crm.controller.invoicevalidator.product.DefaultProductValidator">
		<property name="productService" ref="productService"/>
	</bean>
	
	<bean id="salesReturnProductValidator" class="com.esofa.crm.controller.invoicevalidator.product.SalesReturnProductValidator">
		<property name="invoiceType" value="SALES_RETURN"/>
		<property name="salesService" ref="salesService"/>
		<property name="productService" ref="productService"/>
	</bean>

	<bean id="trialProductValidator" class="com.esofa.crm.controller.invoicevalidator.product.TrialProductValidator">
		<property name="invoiceType" value="TRIAL"/>
		<property name="trialDepositBarCode" value="TRIALDEPOSIT"/>		
	</bean>

	<bean id="trialRefundProductValidator" class="com.esofa.crm.controller.invoicevalidator.product.TrialRefundProductValidator">
		<property name="invoiceType" value="TRIAL_REFUND"/>
	</bean>

	<bean id="otherProductValidator" class="com.esofa.crm.controller.invoicevalidator.product.OtherProductValidator">
		<property name="invoiceType" value="OTHER"/>
	</bean>

	
</beans>

